<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Nouvelle facture</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <!-- <li class="breadcrumb-item active">Blank Page</li> -->
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            

<div class="col mb-3">
   
    <hr>
    <div class="col-md-12">
        <div class="col-md-12 mb-3">
            <h2><i class="fas fa-info-circle blue-color"></i>&nbsp; Informations sur la facture du client </h2>
        </div>
        <div class="col-md-12">
            <form>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Numero de la facture">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Client (nom)">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Téléphone">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Date">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Frais de transport">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Nature">
                    </div>
                </div>
               
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Article">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Remise">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Total remise">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Total TTC">
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Total HT">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Net à payer">
                    </div>
                </div>
            </form>
            
        </div>
    </div>
   
</div>

<!-- /.card-body -->
<div class="card-footer">
    <div class="col-md-12 text-center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-danger mr-3" (click)="cancelClick()">
            <i class="fas fa-ban"></i>&nbsp;
            Annuler
        </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="saveClick()">
            <i class="fas fa-save"></i>
            Enregistrer  
        </button>
    </div>
</div>
<!-- /.card-footer-->
</div>
</div>
<!-- /.card -->
</section>
<!-- /.content -->
